<!--<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Authentication</title>
  </head>
  <body>
    <form action="/signout" method="post">
      <input type="submit" value="Signout">
    </form>
  </body>
</html>
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Favicon -->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> - WiseActive</title>

    <link href="css/wise.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

 <!-- Super container -->   
    <div class="super-container">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Wiseactive</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <img style="max-width:100px; margin-top: 5px;"
                        src="/img/logo1.png">
                    </li>
                     <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Situation</a>
                    </li> 
                    <li>
                        <a href="/">Signout</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <div class="header-main-container">
        <div class="header-container">
            

                <div class="header-text-container">

                   <h3 style="color: white">Welcome <%= name %></h3>

               <h2 style="color: white;">Post your Governmental and ethnic<br> opinion to improve your<br> local community in Nigeria.<br>
                
                </h2>
                <h3 style="color: white">You can read and paticipate in your local languages.</h3> 
                </div>
       </div>
          </div>
          </div>
                 <div class="popup" onclick="myFunction()"><h3><a href="#"><h2> <%= name %>, It's time to Post an article.</h2></a></h3>
                      <span class="popuptext" id="myPopup"><h4>Coming soon we will get  back to you soon.</h4></span>
                      </div>
               
                  <div class="col-lg-5 col-lg-offset-2 col-sm-6" id="flag"><img class="flag" src="" alt="">
                    
                </div>
            </div>
        </div>
    </header>

    

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider"  id="about">

        <!-- First Featurette -->
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive pull-right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/2009_National_Arts_Theatre_Lagos_Nigeria_6350723082.jpg/250px-2009_National_Arts_Theatre_Lagos_Nigeria_6350723082.jpg">
           <h2 class="featurette-heading">The place for local Communities to post videos and photos of the situation in your own town.
                <span class="text-muted"><br><b>About Wiseactive Citizens, vision and mission.</b></span></h2>
              <p class="lead">  Wiseactive.com is a new dynamic and innovative blog, platform where users and audience can share their Opinions, thoughts and ideas in the most effective and respectful manner.</p>

               <p class="lead"><b>Vision Statement:</b> <br>Our aim is to educate and promote public awareness on various issues and keep our audience abreast, informed and active in public discourse as they exercise their malienable right of freedom of Opinion.</p>
              <p class="lead"><b>Mission Statement:</b> <br>We are committed to engage our audience and readers through insightful fact-check and relevant content in our everyday lives and present a platform where they can express their ideas and opinions as global citizens.</p>
            
            <p class="lead"></p>

            <div class="popup" onclick="myFunction()"><h3><a href="#"><h1> <%= name %> Add a short video</h1></a></h3>
                      <span class="popuptext" id="myPopup"><h4>Coming soon your video will be added.</h4></span>
                      </div>
            <p class="lead"></p>
        </div>

        <hr class="featurette-divider" id="services">

        <!-- Second Featurette -->
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive pull-left" src="http://csmnigeria.org/images/0dc85ebcd251a21c0a6f65efa1fe0733.jpg">
            <h2 class="featurette-heading">WISEACTIVE CITIZENS <br>
                <span class="text-muted">We are the communities of Nigeria.</span>
            </h2>
            <p class="lead">WiseActive is  everywhere in the world willing to bring this idea to reality. We all know some of the benefits of being a citizen of a country and its our enviable right to make demand on those whom we have elected to rule us and to also remind them of their promises and our expectations.<br> So we are all responsible to make good choice during elections. No one can buy you, and always remember that
            Nigeria belongs to us all. No one person or group of persons is more important or more entitled than the other in this place we all call home</p>
        </div>

        <hr class="featurette-divider" id="contact">

        <!-- Third Featurette -->
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive pull-right" src="https://s-media-cache-ak0.pinimg.com/originals/af/e1/e0/afe1e0971969204f788526495f96f5d2.jpg">
            <h2 class="featurette-heading">Be a Journalist
                <span class="text-muted">We need to speak now.</span>
            </h2>
            <p class="lead">We are ready to work with everyone who want to bring the future close to our dear country, Be mindful of the sacrifices borne by our ancestors. We have made too many wrong choices in elections, And now it's well understood that we are in the  midst of crisis now. Our nation is in a situation whereby every one need to do something, your voice matters. Everyone must help in communication to become a journalist of your town, telling the world the truth of what is going on there. Because of violence and hatred our economy is badly weakened. A consequence of greed and irresponsibility on the part of some, but also our collective failure to make hard choices and prepare the nation for a new age.
                     Homes have been lost; jobs shed; businesses shuttered. Our health sector is nothing to talk about; our school system has failed 80% and each day brings further evidence that we must change the way we think about our country.</p>

        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>WiseActive Citizens Copyright 2017 - 2018</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script>
// When the user clicks on <div>, open the popup
function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}
</script>



</body>

</html>




