<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page - WiseActive</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                    <div class="c">
                        <img src="">
                    </div>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Situation</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">

                <h2>Post your Govt and ethnic opinion and improve your<br> local community in Nigeria.<br>
                <a href="/signin/"><button type="button" class="btn btn-primary btn-lg">Login</button> </a> 

        
                 <a href="/signup/"> <button type="button" class="btn btn-primary btn-lg">Singup</button></a>
                </h2>
                <h3>You can read and paticipate in your local languages.</h3>
                  <div class="col-lg-5 col-lg-offset-2 col-sm-6" id="flag"><img class="flag" src="" alt="">
                    


                    
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider" id="about">

        <!-- First Featurette -->
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive pull-right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/2009_National_Arts_Theatre_Lagos_Nigeria_6350723082.jpg/250px-2009_National_Arts_Theatre_Lagos_Nigeria_6350723082.jpg">
            <h2 class="featurette-heading">The place for local Communities to post videos and photos of the situation in your own town.
                <span class="text-muted">Make speach to text in local language.</span>
            </h2>
            <p class="lead"></p>
        </div>

        <hr class="featurette-divider" id="services">

        <!-- Second Featurette -->
        <div class="featurette" >
            <img class="featurette-image img-circle img-responsive pull-left" src="http://csmnigeria.org/images/0dc85ebcd251a21c0a6f65efa1fe0733.jpg">
            <h2 class="featurette-heading">WISEACTIVE CITIZENS <br>
                <span class="text-muted">We are the communities of Nigeria.</span>
            </h2>
            <p class="lead">WiseActive is  everywhere in the world willing to bring this idea to reality. i traveled round the world i found out that we are too rich to be very poor, our passport is whatless the name of our country brings embarasment, you will have to prove that you are different Nigerian everywhere you go.... So we are all responsible to make good choice during elections no one can buy you, and always remember that
            Nigeria belongs to all of us. No one person or group of persons is more important or more entitled than the other in this place that we all call home</p>
        </div>

        <hr class="featurette-divider" id="contact">

        <!-- Third Featurette -->
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive pull-right" src="https://s-media-cache-ak0.pinimg.com/originals/af/e1/e0/afe1e0971969204f788526495f96f5d2.jpg">
            <h2 class="featurette-heading">Be a Journalist
                <span class="text-muted">We need to speak now.</span>
            </h2>
            <p class="lead">We are ready to work with everyone who want to bring the future close to our dear country, We can't wait for liar's to continue to fail us, Be mindful of the sacrifices borne by our ancestors. We have make too many wrong choices in elections, And now it's well understood that we are in the  midst of crisis now. Our nation is in a situation whereby every one need to do something, a word or prayer can go far. Everyone must help in communication to be come a journalist of your town be telling the world the truth of what is going on there. Because of violence and hatred. Our economy is badly weakened, a consequence of greed and irresponsibility on the part of some, but also our collective failure to make hard choices and prepare the nation for a new age.
                     Homes have been lost; jobs shed; businesses shuttered. Our health care is nothing to talk about; our schools fail 80% and each day brings further evidence that the way we think about our country must change.</p>

        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>WiseActive Citizens Copyright 2017 - 2018</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>

